<footer class="border-t-2 border-mainBlue">
  <div
    class="max-w-screen-xl mx-auto px-4 gap-y-8 flex md:flex-row flex-col justify-between items-center py-10"
  >
    <article class="text-center font-bold">
      <h2 class="text-mainBlue mb-3">Enlaces de interés</h2>
      <p class="mb-1">Sobre Nosotros</p>
      <p class="mb-1">Historias de éxito</p>
      <p>FAQs</p>
    </article>
    <article class="order-last md:order-none">
      <img src="/images/pets-img/defaultPet.png" alt="" />
    </article>
    <article class="text-center font-bold">
      <h2 class="text-mainBlue mb-3">Legal</h2>
      <p class="mb-1">Política de privacidad</p>
      <p class="mb-1">Términos y condiciones</p>
      <p>Contacto</p>
    </article>
  </div>
  <div class="bg-mainBlue py-5">
    <article class="text-center text-white">
      <small
        >&copy Alejandro Méndez Góngora. Todos los derechos reservados.</small
      >
    </article>
  </div>
</footer>

<style>
  footer {
    p {
      cursor: pointer;
    }
  }
</style>
