<nav class="sticky top-0 z-10 bg-mainBlue border-gray-200">
  <div
    class="max-w-screen-xl flex flex-wrap items-center px-5 justify-between mx-auto p-4"
  >
    <div class="flex gap-5">
      <a
        href="https://x.com"
        target="_blank"
        class="flex items-center space-x-3 rtl:space-x-reverse"
        ><%- include("../modules/xIcon.ejs") %></a
      >
      <a
        href="https://instagram.com"
        target="_blank"
        class="flex items-center space-x-3 rtl:space-x-reverse"
        ><%- include("../modules/instagramIcon.ejs") %></a
      >
      <a
        href="https://facebook.com"
        target="_blank"
        class="flex items-center space-x-3 rtl:space-x-reverse"
        ><%- include("../modules/facebookIcon.ejs") %></a
      >
    </div>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <svg
        class="w-5 h-5 text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="transparent"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 gap-y-5 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 justify-center items-center"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white rounded md:border-0 md:hover:text-mainOrange md:p-0"
            >Inicio</a
          >
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 px-3 text-white rounded hover:text-mainOrange md:hover:bg-transparent md:border-0 md:p-0 md:w-auto"
          >
            Mascotas
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href="/categories/1"
                  class="block hover:bg-secondBlue text-mainBlue font-bold px-4 py-2"
                  >Perros</a
                >
              </li>
              <li>
                <a
                  href="/categories/2"
                  class="block hover:bg-secondBlue text-mainBlue font-bold px-4 py-2"
                  >Gatos</a
                >
              </li>
              <li>
                <a
                  href="/categories/3"
                  class="block hover:bg-secondBlue text-mainBlue font-bold px-4 py-2"
                  >Hurones</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="/petOwners"
            class="block py-2 px-3 text-white rounded md:border-0 md:hover:text-mainOrange md:p-0"
            >Usuarios</a
          >
        </li>
        <div class="flex gap-4 md:hidden">
          <button
            type="button"
            class="py-2.5 transition-all px-5 text-sm font-medium text-mainBlue focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-secondBlue focus:z-10 focus:ring-4 focus:ring-gray-100"
            onclick="window.location.href='/petOwners/register'"
          >
            Regístrate
          </button>
          <button
            onclick="window.location.href='/petOwners/login'"
            type="button"
            class="py-2.5 transition-all px-5 text-sm font-medium text-mainBlue focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-secondBlue focus:z-10 focus:ring-4 focus:ring-gray-100"
          >
            Accede
          </button>
        </div>
      </ul>
    </div>
    <div class="flex gap-4 hidden md:flex">
      <button
        type="button"
        class="py-2.5 transition-all px-5 text-sm font-medium text-mainBlue focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:bg-secondBlue focus:z-10 focus:ring-4 focus:ring-gray-100"
        onclick="window.location.href='/petOwners/register'"
      >
        Regístrate
      </button>
      <button
        onclick="window.location.href='/petOwners/login'"
        type="button"
        class="py-2.5 transition-all px-5 text-sm font-medium text-mainBlue focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:bg-secondBlue focus:z-10 focus:ring-4 focus:ring-gray-100"
      >
        Accede
      </button>
    </div>
  </div>
</nav>
